

Welcome <%=@user.first_name%>!!
<br><br>

<h2>Here are all your Events this month</h2>

<h3> Today is <%=Date.today%></h3>

<%@user.events.each do |event|%>
            <td><%=event.description%></>
          <%end%>

<table border="1">
  <thead><tr>
    <td><%=@user.each %></td>
    <td>another user</td>
  </tr></thead>
  <tbody>
  <tr>
    <% @user.events.each do |event|%>
      <td><%=event.description%></td>
      <%end%>
  </tr>
  </tbody>
</table>



<a href='/events/new'>Create a new Event</a>

